<div>
    <h2>Grocery Store Funds!</h2>
    <h4>Enter Your User ID</h4>
    <form [formGroup]="userIDref" (ngSubmit)="submitUserId()">
        <label>User ID</label>
        <input type="text" formControlName="userId"/><br/>
        <input type="submit" value="View Funds"/>
    </form>
    <div *ngIf="showProfileFlag">
        <h3>You have x dollars in your account!</h3>
        <br/>
        <form>
            <h3>Add funds here:</h3>
            <label>Account Number </label>
            <input type="text" name="accountNum"/><br/>
            <label>Amount </label>
            <input type="text" name="amount"/><br/>
            <input type="submit" value="Add Funds"/>
        </form>
    </div>
</div>