<div class="row align-items-center">
    <h2 style="text-align: center; padding: 6px; font-family: 'Archivo', sans-serif;">Sign Up</h2>
    
    <div class="col"></div>
    <div class="col">
        <div class="container-md">
            <form [formGroup]="signupRef" (ngSubmit)="doSignup()" >
                First Name <input type="text" formControlName="firstname" required/> <br/><br/>
                Last Name <input type="text" formControlName="lastname" required/> <br /><br/>
                Email <input type="email" formControlName="emailId" required/> <br/><br/>
                Password <input type="password" formControlName="password" required/> <br/><br/>
                Date of Birth <input type="date" formControlName="dob" placeholder="mm/dd/yyyy" required/> <br/><br/>
                Phone Number <input type="number" formControlName="phone" required/> <br/><br/>
                Address <input type="text" formControlName="address" required/> <br/><br/>

                <div style="color: red;">{{errorMsg}}</div>
                <br/>
                <input type="submit" value="Submit"/> 
                <input type="reset" value="Reset"/>
            </form>
        </div>
    </div>
    <div class="col"> </div>
</div>
