<div>
    <h2>Admin Dashboard</h2>
    <form [formGroup]="addProductRef" (ngSubmit)="addProduct()">
        <label>Product Name</label>
        <input type="text" formControlName = "pName"><br>
        <label>Price</label>
        <input type="text" formControlName = "price"> <br>
        <label>Quantity</label>
        <input type="text" formControlName = "quantity"> <br>
        <label>Image</label>
        <input type="image" src="" alt="" formControlName = "image"> <br>
        <input type="submit" value="Add">
        <input type="reset" value="reset">
    </form>
    <form [formGroup]="updateProductRef" (ngSubmit)="updateProduct()">
        <label>Product Name</label>
        <input type="text" formControlName = "pName"><br>
        <label>Price Update</label>
        <input type="text" formControlName = "price"><br>
        <label>Quantity Update</label>
        <input type="text" formControlName = "quantity"><br>
        <input type="submit" value="Update">
        <input type="reset" value="reset">
    </form>
    <form [formGroup]="deleteProductRef" (ngSubmit)="deleteProduct()">
        <label>Product Name</label>
        <input type="text" formControlName = "pName"><br>
        <input type="submit" value="Delete">
        <input type="reset" value="reset">
    </form>
</div>