<div>
    <h2>Edit your profile!</h2>
    <form>
        <label>First Name </label>
        <input type="text" name="firstname"/>
        <br/>
        <input type="submit" value="Update First Name"/>
    </form>
    <br/>
    <form>
        <label>Last Name </label>
        <input type="text" name="lastname"/>
        <br/>
        <input type="submit" value="Update Last Name"/>
    </form>
    <br/>
    <form>
        <label>Email </label>
        <input type="text" name="emailId"/>
        <br/>
        <input type="submit" value="Update Email"/>
    </form>
    <br/>
    <form>
        <label>Password </label>
        <input type="text" name="password"/>
        <br/>
        <input type="submit" value="Update Password"/>
    </form>
    <br/>
    <form>
        <label>Date of Birth </label>
        <input type="text" name="dob"/>
        <br/>
        <input type="submit" value="Update Date of Birth"/>
    </form>
    <br/>
    <form>
        <label>Phone Number </label>
        <input type="text" name="phone"/>
        <br/>
        <input type="submit" value="Update Phone Number"/>
    </form>
    <br/>
    <form>
        <label>Address </label>
        <input type="text" name="address"/>
        <br/>
        <input type="submit" value="Update Address"/>
    </form>
</div>